body {
  font-family: Helvetica;
}

div.container {
  margin: 0 auto;
  border: solid;
  width: 800px;
  height: 500px;
}

header {
  border-bottom: solid;
}

h1 {
  color: blue;
  text-align: center;
}

div#chatEntries {
  height: 395px;
  width: 800px
}

div #chatControls {
  border-top: solid;
  margin-top: -2px;
}

input#messageInput {
  margin-left: 1px;
  width: 80%;
}

button#submit {
  margin-left: 1px;
  width: 19%;
}